<div class="w3ls-contact contact-style">
  <h3 class="text-capitalize mb-3">contact Information</h3>
  <address>
    <p class="mt-3"><span class="fa fa-map-marker"></span>
      Cyprus Nicosia</p>

<p class="my-2"><span class="fa fa-phone"></span>
<a href="tel:+35722056044">+35722056044</a></p>
<!-- <p class="my-2"><span class="fa fa-phone"></span>
  <a href="tel:+447451208289"></a></p> -->
<p class="">
    <span class="fa fa-envelope-open"></span>
<a href="mailto:info@cargomoverpro.com">info@cargomoverpro.com</a> </p>
  </address>
</div>
