<app-header></app-header>
<!-- inner banner -->
<div class="inner-banner" id="home">
	<div class="container">
		
	</div>	
</div>
<!-- inner banner -->

<!-- contact -->
<section class="contact py-5 my-lg-5">
	<h2 class="heading text-center mb-sm-5 mb-4"> Tracking Information</h2>
	<div class="map container-fluid">
        <div id="map" class="mapstyle"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        [leafletOptions]="mapOptions">
    </div>
		<div class="main_grid_contact">
			<div class="form">
				<h3 class="text-capitalize mb-2">Tracking Information</h3>
                   <div class="row">
					<div class="col-lg-12">
						<div class="stat">
							<span class="fa fa-home" aria-hidden="true" ng-model="gettracking"  [ngStyle]="gettracking==='Checked'?{'color': '#00BCD4'}:{'color': '#817272'}" >&nbsp;&nbsp;{{gettracking}}</span>
							&nbsp;	&nbsp;<span class="fa fa-cogs" aria-hidden="true" [ngStyle]="gettracking==='Processing'?{'color': '#00BCD4'}:{'color': '#817272'}" >&nbsp;&nbsp;Processing</span>&nbsp;&nbsp;
							<span class="fa fa-truck" aria-hidden="true"  [ngStyle]="gettracking==='In-transit'?{'color': '#00BCD4'}:{'color': '#817272'}" >&nbsp;&nbsp;In-transit</span>&nbsp;&nbsp;
							<span class="fa fa-ship" aria-hidden="true"  [ngStyle]="gettracking==='Shipped'?{'color': '#00BCD4'}:{'color': '#817272'}" >&nbsp;&nbsp;Shipped</span>
						</div>
              	<table style="width:100%;">
						<tr>
							<th>Information</th>
							<th>Details</th>
						</tr>
						<tr>
							<td style="font-weight: bold;">
							Country
							</td>
							<td>{{getlocation}}</td>
						</tr>
						<tr>
							<td style="font-weight: bold;">Destination</td>
							<td>{{getdestination}}</td>
						</tr>
						<tr>
							<td style="font-weight: bold;">Order Date</td>
							<td>{{getdate}}</td>
						</tr>
						<tr>
							<td style="font-weight: bold;">Expected Date of Delivery</td>
							<td>{{expectedDate}}</td>
						</tr>
						<tr>
							<td style="font-weight: bold;"> Tracking Status</td>
							<td>{{gettracking}}</td>
						</tr>
						<tr>
							<td style="font-weight: bold;">Remarks</td>
							<td>{{remarks}}</td>
						</tr>
						<tr>
							<td style="font-weight: bold;">Quantity</td>
							<td>{{quantity}}</td>
						</tr>
						<tr>
							<td style="font-weight: bold;">Description</td>
							<td style="background: rgba(150,150,150,0.2);">{{trimfirstString}}<span
								*ngIf="showReadMore">{{carryMore}}</span><br>
							<span><a href="#" (click)="clickReadMore($event)">
								{{showReadMore?"Read Less":"Read More"}}
							</a>
</span>
						</td>
						</tr>
					</table>
			
                </div>
				</div>
			</div>
			<div class="w3ls-contact">
				<h3 class="text-capitalize mb-3">contact Information</h3>
				<p class=""></p>
				<address>
					<p class="mt-3"><span class="fa fa-map-marker"></span> 1380H 4th cross, Kmome St, NY 10002,<span> Canada.</span> </p>
					<p class="my-2"><span class="fa fa-phone"></span> +14 999 888 7773 </p>
					<p class=""><span class="fa fa-envelope-open"></span> <a href="mailto:mail@example.com">mail@example.com</a> </p>
				</address>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->

<!-- footer-top -->
<section class="footer-top py-5">
	<div class="container">
		<div class="row footer-top-grid">
			<div class="col-sm-6">
				<h3>Contact Us</h3>
				<p>Call us, we are 24/7 Helpline</p>
			</div>
			<div class="col-sm-6 text-sm-right mt-sm-0 mt-3">
				<h3><span class="fa fa-phone" aria-hidden="true"></span> +11 2345 6789</h3>
			</div>
		</div>
	</div>
</section>
<!-- //footer-top -->

<!--footer -->
<app-footer></app-footer>