<app-header></app-header>
<!-- inner banner -->
<div class="inner-banner" id="home">
	<div class="container">
		
	</div>	
</div>
<!-- inner banner -->

<!-- contact -->
<section class="contact py-5 my-lg-5">
	<h2 class="heading text-center mb-sm-5 mb-4"> Tracking Information</h2>
	<div class="map">
        <div id="map" class="mapstyle"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        [leafletOptions]="mapOptions">
    </div>
		<div class="main_grid_contact">
			<div class="form">
				<h3 class="text-capitalize mb-2">Tracking Information</h3>
				
                <div class="row">
                  <div class="col-lg-6">
                   <div class="data">Location:</div>
                   <div class="data">Description:</div>
                  </div>
                  <div class="col-lg-6">
                    <div class="data">{{getlocation}}</div>
                   <div class="description data">{{getdescription}}</div>
                </div>
                </div>
			</div>
			<div class="w3ls-contact">
				<h3 class="text-capitalize mb-3">contact Information</h3>
				<p class="">Maecenas ac euismod eros. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris fermentum lacinia.</p>
				<address>
					<p class="mt-3"><span class="fa fa-map-marker"></span> 1380H 4th cross, Kmome St, NY 10002,<span> Canada.</span> </p>
					<p class="my-2"><span class="fa fa-phone"></span> +14 999 888 7773 </p>
					<p class=""><span class="fa fa-envelope-open"></span> <a href="mailto:mail@example.com">mail@example.com</a> </p>
				</address>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->

<!-- footer-top -->
<section class="footer-top py-5">
	<div class="container">
		<div class="row footer-top-grid">
			<div class="col-sm-6">
				<h3>Contact Us</h3>
				<p>Call us, we are 24/7 Helpline</p>
			</div>
			<div class="col-sm-6 text-sm-right mt-sm-0 mt-3">
				<h3><span class="fa fa-phone" aria-hidden="true"></span> +11 2345 6789</h3>
			</div>
		</div>
	</div>
</section>
<!-- //footer-top -->

<!--footer -->
<app-footer></app-footer>