#map {
    height: 500px;
    width: auto;
  }
div.main_grid_contact{
    position: relative;
    top: 40px;
}

.data{
    margin: 20px;
    font-weight: 500;
}
h3{
    padding: 30px;
}

.description{
    text-align: justify;
    word-break: break-all;
    font-weight: 500;
    width: 250px;
}