<app-header></app-header>
<!-- inner banner -->
<div class="inner-banner" id="home">
	<div class="container">

	</div>
</div>
<!-- inner banner -->

<!-- contact -->
<section class="contact py-5 my-lg-5">
	<h2 class="heading text-center mb-sm-5 mb-4"> Get In Touch </h2>
	<div class="map container-fluid">
		<div id="map" class="mapstyle"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        [leafletOptions]="mapOptions">
    </div>
		<div class="main_grid_contact">
			<div class="form" style="position: relative;
      top: 26px;">
				<h3 class="text-capitalize mb-2">send us a message</h3>
				<form [formGroup]="contactInformation">
					<div class="input-group">
						<input type="text" class="margin2" name="name" placeholder="Full name" required="" formControlName="fullname">
						<input type="text" name="name" placeholder="Subject" required="" formControlName="subject">
					</div>
					<div class="input-group">
						<input type="email" class="margin2" name="email" placeholder="mail@example.com" style="text-transform: lowercase;" required="" formControlName="email">
						<input type="text" name="number" placeholder="phone number"  required="" formControlName="phone">
					</div>
					<div class="input-group">
						<textarea rows="4" cols="50" placeholder="message" formControlName="message"></textarea>
					</div>
					<div class="input-group1">
						<button class="submit btn" (click)="submit()"><div *ngIf="showSpinner;else other"><app-spinner></app-spinner></div>
						<ng-template #other>Send</ng-template>
						</button>
					</div>
				</form>
			</div>
			<!-- <div class="w3ls-contact contact-style">
				<h3 class="text-capitalize mb-3">contact Information</h3>
				<address>
					<p class="mt-3"><span class="fa fa-map-marker"></span>Company name :CargoMoverPro COMPANY, LTD
            DomainCargoMoverPro  PREMIER Address : Calle Alfonso XI,13,
            MAD,28934,
            Spain</p>
					<p class="my-2"><span class="fa fa-phone"></span> <a href="tel:+35722056044">+35722056044</a></p>
					<p class="my-2"><span class="fa fa-phone"></span> <a href="tel:+447451208289"></a></p>
          <p class="my-2"><span class="fa fa-envelope-open"></span> <a href="tel:+447451208289"> info@cargomoverpro.com</a></p>
				  <p class=""><span class="fa fa-envelope-open"> </span>
          <a href="mailto:info@cargomoverpro.com"> info@cargomoverpro.com</a> </p>
				</address>
			</div> -->
      <app-contact-information></app-contact-information>
		</div>
	</div>
</section>
<!-- //contact -->

<!-- footer-top -->
<!-- <section class="footer-top py-5">
	<div class="container">
		<div class="row footer-top-grid">
			<div class="col-sm-6">
				<h3>Contact Us</h3>
				<p>Call us, we are 24/7 Helpline</p>
			</div>
			<div class="col-sm-6 text-sm-right mt-sm-0 mt-3">
				<h3><span class="fa fa-phone" aria-hidden="true"></span> </h3>
			</div>
		</div>
	</div>
</section> -->

<app-contact-number></app-contact-number>
<!-- //footer-top -->

<!--footer -->
<app-footer></app-footer>
