<header>
	<div class="top-header-container">
		<div class="header-address">
			<span class="fa fa-map-marker"></span>
			<!--CargoMoverPro Company LTD,
			CARGO MOVER PRO   PREMIER , -->
			 &nbsp;Location : Cyprus Nicosia
		</div>
		<div class="header-phone">
			<span class="fa fa-phone"></span>
			<a href="tel:+35722056044">Phone : +35722056044</a>
		</div>

		<!-- <div class="header-phone">
			<span class="fa  fa-phone"></span>
			<a href="tel:+447451208289"></a>
		</div> -->
		<div class="header-email">
			<span class="fa fa-envelope-open-o"></span>
			<a href="mailto:info@cargomoverpro.com">Email : info@cargomoverpro.com</a>
		</div>
	</div>
	<div class="container">
		<!-- top header -->

		<!-- <div class="row top_header pt-3">
			<div class="col-lg-3 offset-lg-7 col-md-5 offset-md-3 col-sm-6 col-7 offset-sm-2 top-grid">
				<span class="fa ml-3 fa-envelope-open-o opev"></span>
				<p class=""> <a href="mailto:info@cargomoverpro.com"
						class="myemail">info@cargomoverpro.com</a> <span class="block">Contact
						Support</span> </p>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-5 top-grid pl-0">
				<span class="fa ml-3 fa-phone mobile"></span>

			</div>
		</div> -->
		<!-- top header -->
		<!-- nav -->
		<nav class="pt-2"  style="margin: 30px;">
			<div id="logo">
				<h1> <a href="index.html"><img src="assets/images/logo.png" class="logo-image">CargoMoverPro</a></h1>
			</div>
			<label for="drop" class="toggle">Menu</label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-md-2 ml-auto">
				<li class="mr-lg-4 mr-2"><a href="/">Home</a></li>
				<li class="mr-lg-4 mr-2"><a href="/about-us">About Us</a></li>
				<li class="mr-lg-4 mr-2"><a href="/view-map">Track</a></li>
				<li class="mr-lg-4 mr-2"><a href="/services">Services</a></li>
				<li class="mr-lg-4 mr-2 active"><a href="/contact-us">Contact</a></li>
				<li class=""><a href="#subscribe">Subscribe</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->
