<div class="app-sidebar-menu">
  <div class="h-100" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">

      <!--- Sidemenu -->
      <div id="sidebar-menu">

          <div class="logo-box">
              <a class="logo logo-light" href="/hando/html/">
                  <span class="logo-sm">
                      <img src="assets/images/logo-sm.png" alt="" height="22">
                  </span>
                  <span class="logo-lg">
                      <img src="assets/images/logo-light.png" alt="" height="24">
                  </span>
              </a>
              <a class="logo logo-dark" href="/hando/html/">
                  <span class="logo-sm">
                      <img src="assets/images/logo-sm.png" alt="" height="22">
                  </span>
                  <span class="logo-lg">
                      <img src="assets/images/logo-dark.png" alt="" height="24">
                  </span>
              </a>
          </div>

          <ul id="side-menu">

              <li class="menu-title">Menu</li>



              <!-- <li class="menu-title">Pages</li> -->

              <li>
                  <a href="#sidebarAuth" data-bs-toggle="collapse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                      <span>Logistics</span>
                      <span class="menu-arrow"></span>
                  </a>
                  <div class="collapse" id="sidebarAuth">
                      <ul class="nav-second-level">
                        <li>
                          <a class="tp-link mb-2" href="/dashboard"> <i class="mdi mdi-home me-2 align-middle"></i>Dashboard</a>
                      </li>
                          <li>
                              <a class="tp-link mb-2" href="/create-admin-tracking-order"><i class="mdi mdi-book-plus me-2 align-middle"></i>Create Order</a>
                          </li>

                          <li>
                            <a class="tp-link mb-2" href="/update-admin-tracking-order"><i class="mdi mdi-pencil me-2 align-middle"></i>update Order</a>
                        </li>

                          <!-- <li>
                              <a class="tp-link" href="/hando/html/auth-register">Register</a>
                          </li> -->
                          <!-- <li>
                              <a class="tp-link" href="/hando/html/auth-recoverpw">Recover Password</a>
                          </li> -->
                          <!-- <li>
                              <a class="tp-link" href="/hando/html/auth-lock-screen">Lock Screen</a>
                          </li> -->
                          <!-- <li>
                              <a class="tp-link" href="/hando/html/auth-confirm-mail">Confirm Mail</a>
                          </li> -->
                          <!-- <li>
                              <a class="tp-link" href="/hando/html/email-verification">Email Verification</a>
                          </li> -->
                          <!-- <li>
                              <a class="tp-link" href="/hando/html/auth-logout">Logout</a>
                          </li> -->
                      </ul>
                  </div>
              </li>

              <li>
                  <a href="#sidebarError" data-bs-toggle="collapse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-octagon"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                      <span> Subscriptions</span>
                      <span class="menu-arrow"></span>
                  </a>
                  <div class="collapse" id="sidebarError">
                      <ul class="nav-second-level">
                          <!-- <li>
                              <a class="tp-link" href="/hando/html/error-404">Error 404</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/error-500">Error 500</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/error-503">Error 503</a>
                          </li> -->
                          <li class="my-2">
                              <a class="tp-link" href="create-subscription">Buy Subscription</a>
                          </li>
                          <!-- <li class="my-2">
                              <a class="tp-link" href="/hando/html/offline-page">Cancel Subscription</a>
                          </li> -->
                      </ul>
                  </div>
              </li>

              <!-- <li>
                  <a href="#sidebarExpages" data-bs-toggle="collapse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                      <span> Utility </span>
                      <span class="menu-arrow"></span>
                  </a>
                  <div class="collapse" id="sidebarExpages">
                      <ul class="nav-second-level">
                          <li>
                              <a class="tp-link" href="/hando/html/pages-starter">Starter</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/pages-profile">Profile</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/pages-pricing">Pricing</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/pages-timeline">Timeline</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/pages-invoice">Invoice</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/pages-faqs">FAQs</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/pages-gallery">Gallery</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/pages-maintenance">Maintenance</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/pages-coming-soon">Coming Soon</a>
                          </li>
                      </ul>
                  </div>
              </li>

              <!-- <li class="menu-title mt-2">Apps</li> -->

              <!-- <li>
                  <a class="tp-link" href="/hando/html/apps-todolist">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns"><path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"></path></svg>
                      <span> Todo List </span>
                  </a>
              </li> -->

              <!-- <li>
                  <a class="tp-link" href="/hando/html/apps-contacts">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                      <span> Contacts </span>
                  </a>
              </li> -->

              <!-- <li>
                  <a class="tp-link" href="/hando/html/apps-calendar">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                      <span> Calendar </span>
                  </a>
              </li> -->

              <!-- <li class="menu-title mt-2">General</li> -->

              <!-- <li>
                  <a href="#sidebarBaseui" data-bs-toggle="collapse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                      <span> Components </span>
                      <span class="menu-arrow"></span>
                  </a>
                  <div class="collapse" id="sidebarBaseui">
                      <ul class="nav-second-level">
                          <li>
                              <a class="tp-link" href="/hando/html/ui-accordions">Accordions</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-alerts">Alerts</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-badges">Badges</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-breadcrumb">Breadcrumb</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-buttons">Buttons</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-cards">Cards</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-collapse">Collapse</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-dropdowns">Dropdowns</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-video">Embed Video</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-grid">Grid</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-images">Images</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-list">List Group</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-modals">Modals</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-placeholders">Placeholders</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-pagination">Pagination</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-popovers">Popovers</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-progress">Progress</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-scrollspy">Scrollspy</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-spinners">Spinners</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-tabs">Tabs</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-tooltips">Tooltips</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/ui-typography">Typography</a>
                          </li>
                      </ul>
                  </div>
              </li> -->

              <!-- <li>
                  <a class="tp-link" href="/hando/html/widgets">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-aperture"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                      <span> Widgets </span>
                  </a>
              </li> -->

              <!-- <li>
                  <a href="#sidebarAdvancedUI" data-bs-toggle="collapse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cpu"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="14" x2="4" y2="14"></line></svg>
                      <span> Extended UI </span>
                      <span class="menu-arrow"></span>
                  </a>
                  <div class="collapse" id="sidebarAdvancedUI">
                      <ul class="nav-second-level">
                          <li>
                              <a class="tp-link" href="/hando/html/extended-carousel">Carousel</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/extended-notifications">Notifications</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/extended-offcanvas">Offcanvas</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/extended-range-slider">Range Slider</a>
                          </li>
                      </ul>
                  </div>
              </li> -->

              <!-- <li>
                  <a href="#sidebarIcons" data-bs-toggle="collapse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>
                      <span> Icons </span>
                      <span class="menu-arrow"></span>
                  </a>
                  <div class="collapse" id="sidebarIcons">
                      <ul class="nav-second-level">
                          <li>
                              <a class="tp-link" href="/hando/html/icons-feather">Feather Icons</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/icons-mdi">Material Design Icons</a>
                          </li>
                      </ul>
                  </div>
              </li> -->

              <!-- <li>
                  <a href="#sidebarForms" data-bs-toggle="collapse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                      <span> Forms </span>
                      <span class="menu-arrow"></span>
                  </a>
                  <div class="collapse" id="sidebarForms">
                      <ul class="nav-second-level">
                          <li>
                              <a class="tp-link" href="/hando/html/forms-elements">General Elements</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/forms-validation">Validation</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/forms-quilljs">Quilljs Editor</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/forms-pickers">Picker</a>
                          </li>
                      </ul>
                  </div>
              </li> -->

              <!-- <li>
                  <a href="#sidebarTables" data-bs-toggle="collapse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-table"><path d="M9 3H5a2 2 0 0 0-2 2v4m6-6h10a2 2 0 0 1 2 2v4M9 3v18m0 0h10a2 2 0 0 0 2-2V9M9 21H5a2 2 0 0 1-2-2V9m0 0h18"></path></svg>
                      <span> Tables </span>
                      <span class="menu-arrow"></span>
                  </a>
                  <div class="collapse" id="sidebarTables">
                      <ul class="nav-second-level">
                          <li>
                              <a class="tp-link" href="/hando/html/tables-basic">Basic Tables</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/tables-datatables">Data Tables</a>
                          </li>
                      </ul>
                  </div>
              </li> -->

              <!-- <li>
                  <a href="#sidebarCharts" data-bs-toggle="collapse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
                      <span> Apex Charts </span>
                      <span class="menu-arrow"></span>
                  </a>
                  <div class="collapse" id="sidebarCharts">
                      <ul class="nav-second-level">
                          <li>
                              <a class="tp-link" href="/hando/html/charts-area">Area</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-bar">Bar</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-boxplot">Boxplot</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-bubble">Bubble</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-candlestick">Candlestick</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-column">Column</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-funnel">Funnel</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-heatmap">Heatmap</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-line">Line</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-mixed">Mixed</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-pie">Pie</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-polararea">Polar</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-radar">Radar</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-radialbar">Radialbar</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-rangearea">Range Area</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-scatter">Scatter</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-timeline">Timeline</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/charts-treemap">Treemap</a>
                          </li>
                      </ul>
                  </div>
              </li> -->

              <!-- <li>
                  <a href="#sidebarMaps" data-bs-toggle="collapse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg>
                      <span> Maps </span>
                      <span class="menu-arrow"></span>
                  </a>
                  <div class="collapse" id="sidebarMaps">
                      <ul class="nav-second-level">
                          <li>
                              <a class="tp-link" href="/hando/html/maps-google">Google Maps</a>
                          </li>
                          <li>
                              <a class="tp-link" href="/hando/html/maps-vector">Vector Maps</a>
                          </li>
                      </ul>
                  </div>
              </li> -->

          </ul>

      </div>
      <!-- End Sidebar -->

      <div class="clearfix"></div>

  </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 816px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 653px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
</div>
