<section class="footer-top py-5">
	<div class="container">
		<div class="row footer-top-grid">
			<div class="col-sm-6">
				<h3>Contact Us</h3>
				<p>Call us, we are 24/7 Helpline</p>
			</div>
			<div class="col-sm-6 text-sm-right mt-sm-0 mt-3">
				<h3><span class="fa fa-phone" aria-hidden="true"></span>
          <a href="tel:+35722056044">+35722056044</a>
        </h3>
        <!-- <h3><span class="fa fa-phone" aria-hidden="true"></span>
          <a href="tel:"></a>
        </h3> -->
			</div>
		</div>
	</div>
</section>
